{% extends "base_generic.html" %}
{% block content %}
    <h1>Lista de Generos</h1>

    {% if genero_list %}
    <ul>

      {% for genero in genero_list %}
      <li>
        {{genero}}
        {% for libro in genero.libro_set.all %}
        <p>
            <strong><a href="{{ libro.get_absolute_url }}">{{libro.titulo}}</a> </strong>({{libro.instancia_set.all.count}})
            <br>
            {{libro.descripcion}}
        </p>
        
        {% endfor %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay Géneros</p>
    {% endif %}       
{% endblock %}